<!-- top menu -->
<div class="topMenu">
    <div class="title">
        <a href="home">A Wayfaring Photographer</a><br>
    </div>
    <div class="topBar">
        <a class="active" href="home">Home</a>
        <a href="destinations">Destinations</a>
        <a href="https://www.instagram.com/a_wayfaring_photographer/">Instagram</a>
        <a href="about">About</a>
        <a href="contact">Contact</a>
    </div>
</div>

<!-- PHOTOS -->
<div class="row">
  <div class="column">
    <img src="https://i.imgur.com/QSI2O0E.jpg">
    <img src="https://i.imgur.com/zQHcV8j.jpg">
    <img src="https://i.imgur.com/hHbQXXr.jpg">
    <img src="https://i.imgur.com/roYIVk9.jpg?1">
    <img src="https://i.imgur.com/hHbQXXr.jpg">
  </div>
  <div class="column">
    <img src="https://i.imgur.com/S1RohHP.jpg?1">
    <img src="https://i.imgur.com/NsDoyo9.jpg">
    <img src="https://i.imgur.com/0e4PAtQ.jpg">
    <img src="https://i.imgur.com/etu1w1h.jpg">
    <img src="https://i.imgur.com/zQHcV8j.jpg">
  </div>
  <div class="column">
    <img src="https://i.imgur.com/NsDoyo9.jpg">
    <img src="https://i.imgur.com/W9k9fVT.jpg">
    <img src="https://i.imgur.com/dt86DFo.jpg">
    <img src="https://i.imgur.com/QSI2O0E.jpg">
    <img src="https://i.imgur.com/S1RohHP.jpg?1">
  </div>
</div>
