<!-- top menu -->
<div class="topMenu">
    <div class="title">
        <a href="home">A Wayfaring Photographer</a><br>
    </div>
    <div class="topBar">
        <a href="home">Home</a>
        <a class="active" href="destinations">Destinations</a>
        <a href="https://www.instagram.com/a_wayfaring_photographer/">Instagram</a>
        <a href="about">About</a>
        <a href="contact">Contact</a>
    </div>
</div>

<!-- START unordered list of destinations -->
<div class="destination">
    <ul class="destinationList">
        <a href="austria"><li>Austria</li></a>
        <li>Belgium</li>
        <li>Czechia</li>
        <a href="france"><li>France</li></a>
        <li>Germany</li>
        <a href="ireland"><li>Ireland</li></a>
        <li>Netherlands</li>
    </ul>
</div>

<!-- END unordered list of destinations -->
