<!-- top menu -->
<div class="topMenu">
    <div class="title">
        <a href="home">A Wayfaring Photographer</a><br>
    </div>
    <div class="topBar">
        <a href="home">Home</a>
        <a href="destinations">Destinations</a>
        <a href="https://www.instagram.com/a_wayfaring_photographer/">Instagram</a>
        <a href="about">About</a>
        <a href="contact">Contact</a>
    </div>
</div>

<!-- PHOTOS -->
<div class="row">
  <div class="column">
    <img src="https://i.imgur.com/xDE6Zcq.jpg">
    <img src="https://i.imgur.com/LTGxMuW.jpg">
    <img src="https://i.imgur.com/SCDyY4c.jpg">
    <img src="https://i.imgur.com/JcE2Mwt.jpg">
    <img src="https://i.imgur.com/MfdQMPL.jpg">
  </div>
  <div class="column">
    <img src="https://i.imgur.com/t5iFv6y.jpg">
    <img src="https://i.imgur.com/pG73hq7.jpg?1">
    <img src="https://i.imgur.com/nq4B0VJ.jpg">
    <img src="https://i.imgur.com/N8SrOaO.jpg?2">
    <img src="https://i.imgur.com/uSzWo8n.jpg">
  </div>
  <div class="column">
    <img src="https://i.imgur.com/chdk5In.jpg?1">
    <img src="https://i.imgur.com/SDaXumz.jpg?1">
    <img src="https://i.imgur.com/6W69Hwz.jpg">
    <img src="https://i.imgur.com/Yi0cVdH.jpg">
    <img src="https://i.imgur.com/7DBBP2F.jpg">
  </div>
</div>
