<!-- top menu -->
<div class="topMenu">
    <div class="title">
        <a href="home">A Wayfaring Photographer</a><br>
    </div>
    <div class="topBar">
        <a class="active" href="home">Home</a>
        <a href="destinations">Destinations</a>
        <a href="https://www.instagram.com/a_wayfaring_photographer/">Instagram</a>
        <a href="about">About</a>
        <a href="contact">Contact</a>
    </div>
</div>

<!-- START carousel HTML -->
<section class="myCarousel">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- START wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="hoverbox">
                    <a href="http://flip1.engr.oregonstate.edu:9012/images/cliffs.jpeg" download><img src="https://i.imgur.com/Z3jTwtc.jpg" class="bottomLayer"></a>
                    <img src="https://i.imgur.com/28aUF5u.png" class="topLayer">
                </div>
            </div>
            <div class="item">
                <div class="hoverbox">
                    <a href="http://flip1.engr.oregonstate.edu:9012/images/southpark.jpeg" download><img src="https://i.imgur.com/uktRhpA.jpg"></a>
                    <img src="https://i.imgur.com/28aUF5u.png" class="topLayer">
                </div>
            </div>
            <div class="item">
                <div class="hoverbox">
                    <a href="http://flip1.engr.oregonstate.edu:9012/images/teasdale.jpeg" download><img src="https://i.imgur.com/jrcuLoW.jpg"></a>
                    <img src="https://i.imgur.com/28aUF5u.png" class="topLayer">
                </div>
            </div>
            <div class="item">
                <div class="hoverbox">
                    <a href="http://flip1.engr.oregonstate.edu:9012/images/kylemore.jpeg" download><img src="https://i.imgur.com/YcDu1oG.jpg"></a>
                    <img src="https://i.imgur.com/28aUF5u.png" class="topLayer">
                </div>
            </div>
            <div class="item">
                <div class="hoverbox">
                    <a href="http://flip1.engr.oregonstate.edu:9012/images/neuschwanstein.jpeg" download><img src="https://i.imgur.com/ThGCkE6.jpg"></a>
                    <img src="https://i.imgur.com/28aUF5u.png" class="topLayer">
                </div>
            </div>
            <div class="item">
                <div class="hoverbox">
                    <a href="http://flip1.engr.oregonstate.edu:9012/images/scheveningenPier.jpeg" download><img src="https://i.imgur.com/rOQvnHN.jpg"></a>
                    <img src="https://i.imgur.com/28aUF5u.png" class="topLayer">
                </div>
            </div>
        </div>
        <!-- END wrapper for the slides -->

        <!-- START carousel controls -->
        <a class="left carousel-control" href="#myCarousel" roll="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" </span> <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" </span> <span class="sr-only">Next</span>
        </a>
        <!-- END carousel controls -->
    </div>
</section>
<!-- END carousel HTML -->
