<!-- top menu -->
<div class="topMenu">
    <div class="title">
        <a href="home">A Wayfaring Photographer</a><br>
    </div>
    <div class="topBar">
        <a class="active" href="home">Home</a>
        <a href="destinations">Destinations</a>
        <a href="https://www.instagram.com/a_wayfaring_photographer/">Instagram</a>
        <a href="about">About</a>
        <a href="contact">Contact</a>
    </div>
</div>

<!-- PHOTOS -->
<div class="row">
  <div class="column">
    <img src="https://i.imgur.com/IHVdQjY.jpg">
    <img src="https://i.imgur.com/hegLkJn.jpg">
    <img src="https://i.imgur.com/zV4rB6G.jpg">
    <img src="https://i.imgur.com/Y9NMfTL.jpg?1">
    <img src="https://i.imgur.com/1563NwR.jpg">
    <img src="https://i.imgur.com/eHTu6w8.jpg">
    <img src="https://i.imgur.com/XuEZleE.jpg">
  </div>
  <div class="column">
    <img src="https://i.imgur.com/KKgHvR2.jpg">
    <img src="https://i.imgur.com/CQlrtMP.jpg">
    <img src="https://i.imgur.com/IS68Jcs.jpg?1">
    <img src="https://i.imgur.com/CSQ17Zc.jpg">
    <img src="https://i.imgur.com/PQg72Kb.jpg">
    <img src="https://i.imgur.com/AKaHhgr.jpg">
    <img src="https://i.imgur.com/zriA6DS.jpg">
  </div>
  <div class="column">
    <img src="https://i.imgur.com/7h9PPG6.jpg">
    <img src="https://i.imgur.com/DEtPP14.jpg?1">
    <img src="https://i.imgur.com/Jit1s4a.jpg">
    <img src="https://i.imgur.com/NOiYFnV.jpg">
    <img src="https://i.imgur.com/fzHVrQi.jpg">
    <img src="https://i.imgur.com/KKgHvR2.jpg">
    <img src="https://i.imgur.com/BfDyewr.jpg">

  </div>
</div>
